hello-world.example.com
rollout.example.com
blue.example.com
green.example.com
app.example.com
cndw-web.example.com
prometheus.example.com
grafana.example.com
jaeger.example.com
argocd.example.com
app.argocd.example.com
dev.kustomize.argocd.example.com
prd.kustomize.argocd.example.com
helm.argocd.example.com
app-preview.argocd.example.com
kiali.example.com
kiali-ambient.example.com
app.cilium.example.com
hubble.cilium.example.com
pyroscope.example.com
app.cicd.example.com