name: Check Kubernetes YAMLs with kube-linter

on:
  push:
    #branches: [ main ]
  pull_request:



jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create ../results directory for SARIF report files
        shell: bash
        run: mkdir -p ../results

      - name: Scan yaml files with kube-linter
        uses: stackrox/kube-linter-action@v1.0.6
        id: kube-linter-action-scan
        with:
          directory: ./chapter_cicd/apps/
          format: sarif
          output-file: ../results/kube-linter.sarif
        continue-on-error: true

      - name: Upload SARIF report files to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ../results/kube-linter.sarif

